@model ONT_PROJECT.Models.Pharmacy

@{
    ViewData["Title"] = "Manage Pharmacy";
    Layout = "_ManagerLayout";
}

<div class="container mt-4">

    <div class="card">
        <div class="card-header">
            <h3>@(Model.Name ?? "Pharmacy")</h3>
        </div>
        <div class="card-body">
             <div>
                @if (Model.Logo != null)
                {
                    var base64Logo = Convert.ToBase64String(Model.Logo);
                    var imageSrc = $"data:image/png;base64,{base64Logo}";
                    <img src="@imageSrc" alt="Pharmacy Logo" style="width: 160px; height: 120px;" />
                }
                <br /><br />
            </div>
            <p><strong>Health Council Registration No:</strong> @(Model.HealthCounsilRegistrationNo ?? "N/A")</p>
            <p><strong>Contact Number:</strong> @(Model.ContactNo ?? "N/A")</p>
            <p><strong>Email:</strong> @(Model.Email ?? "N/A")</p>
            <p>
                <strong>Website URL:</strong>
                @if (!string.IsNullOrEmpty(Model.WebsiteUrl))
                {
                    <a href="@Model.WebsiteUrl" target="_blank">@Model.WebsiteUrl</a>
                }
                else
                {
                    <span>N/A</span>
                }
            </p>
            <p><strong>Address:</strong> @(Model.Address ?? "N/A")</p>
            <p><strong>VAT Rate:</strong> @Model.Vatrate%</p>


            <div class="card-footer text-end">
                <a asp-action="Edit" asp-controller="Pharmacy" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Edit Pharmacy Details
                </a>
            </div>
        </div>
    </div>
</div>
