@* @model IBayiLibrary.Models.Domain.PrescriptionModel;
@{

    ViewData["Title"] = "Edit PrescriptionLine";
    Layout = "PharmacistLayout";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-dark">
        <i class="bi bi-hospital me-2 text-primary"></i> Process Status
    </h2>
</div>

<div class="accordion-body">
    <p><strong> @Html.DisplayNameFor(model => model.PrescriptionID):</strong> @Html.DisplayFor(model => model.PrescriptionID) </p>
    <p><strong> @Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name) </p>
    <p><strong>@Html.DisplayNameFor(model => model.FirstName):</strong>  @Html.DisplayFor(model => model.FirstName)</p>
    <p><strong>@Html.DisplayNameFor(model => model.MedicineName):</strong> @Html.DisplayFor(model => model.MedicineName)</p>
    <p><strong>@Html.DisplayNameFor(model => model.Date):</strong> @Html.DisplayFor(model => model.Date)</p>
    <p><strong>@Html.DisplayNameFor(model => model.Repeats):</strong> @Html.DisplayFor(model => model.Repeats)</p>
    <p><strong>@Html.DisplayNameFor(model => model.RepeatsLeft):</strong> @Html.DisplayFor(model => model.RepeatsLeft)</p>
    <p><strong> @Html.DisplayNameFor(model => model.Quantity):</strong> @Html.DisplayFor(model => model.Quantity) </p>
    <p><strong> @Html.DisplayNameFor(model => model.Instructions):</strong> @Html.DisplayFor(model => model.Instructions) </p>
    <p><strong>@Html.DisplayNameFor(model => model.Status):</strong> @Html.DisplayFor(model => model.Status)</p>
</div>

 *@