@model IBayiLibrary.Models.Domain.tblOrder;
@{
    var items = Model;
    ViewData["Title"] = "Customer Details";
    Layout = "PharmacistLayout";
}
<div>
    <h4>Order Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePlaced)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePlaced)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-6">
            <form asp-action="Update" method="post">
                <input type="hidden" asp-for="OrderID" />
                <input type="hidden" asp-for="DateRecieved" />
                <div class="form-group">
                    
                    <select asp-for="Status" class="form-select">
                        <option value="">-- Select Status --</option>                      
                        <option value="Collected">Collected</option>                       
                    </select>
                </div>
                <div class="end-0">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
               
            </form>


        </dd>      
    </dl>
</div>
<div>
    @* <a asp-action="Update" asp-route-id="@Model.OrderID">Update</a> |
    <a asp-action="Index">Back to List</a> *@
</div>
